body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    text-align: center;
}
#main{
    background-color: #ccc;
    /* background-image: url('https://www.chetu.com/img/blogs/disruptive-technology-in-education/disruptive-technology-in-education-hero-shot.jpg'); */
}

/*  
.pro{
  height:1000 ;
  width:1000 ;
}
/* Header */
header {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    padding:9px 40px;
    /* background-color: #3ca0e7; */
    /* background-color: #3ca0e7; */
    /* background-color: #1e90ff*/
    background: linear-gradient(90deg,#222,#3ca0e7,#222f3d);
    height: 200px;
}

.logo {
    font-size: 55px;
    font-weight: bold;
    font-style:italic;
    scroll-padding-block: 5px;
    color: #1e90ff;
 
}
.logo-img{
    background-image: url('https://png.pngtree.com/png-vector/20221030/ourmid/pngtree-herbal-logo-template-vector-icon-nature-icon-health-vector-png-image_39868794.png');
 
   
  
   background-size: cover;
   height: 100px;
   width: 100px;;
}


/*  */


/*  */
/* togglebutton */
.toggle-cont {
  --primary: #54a8fc;
  --light: #d9d9d9;
  --dark: #121212;
  --gray: #414344;

  position: relative;
  z-index: 10;

  width: fit-content;
  height: 50px;

  border-radius: 9999px;
}

.toggle-cont .toggle-input {
  display: none;
}

.toggle-cont .toggle-label {
  --gap: 5px;
  --width: 50px;

  cursor: pointer;

  position: relative;
  display: inline-block;

  padding: 0.5rem;
  width: calc((var(--width) + var(--gap)) * 2);
  height: 100%;
  background-color: var(--dark);

  border: 1px solid #777777;
  border-bottom: 0;

  border-radius: 9999px;
  box-sizing: content-box;
  transition: all 0.3s ease-in-out;
}
.toggle-label::before {
  content: "";

  position: absolute;
  z-index: -10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: calc(100% + 1.5rem);
  height: calc(100% + 1.5rem);
  background-color: var(--gray);

  border: 1px solid #777777;
  border-bottom: 0;
  border-radius: 9999px;

  transition: all 0.3s ease-in-out;
}
.toggle-label::after {
  content: "";

  position: absolute;
  z-index: -10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  height: 100%;
  background-image: radial-gradient(
    circle at 50% -100%,
    rgb(58, 155, 252) 0%,
    rgba(12, 12, 12, 1) 80%
  );

  border-radius: 9999px;
}

.toggle-cont .toggle-label .cont-icon {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  width: var(--width);
  height: 50px;
  background-image: radial-gradient(
    circle at 50% 0%,
    #666666 0%,
    var(--gray) 100%
  );

  border: 1px solid #aaaaaa;
  border-bottom: 0;
  border-radius: 9999px;
  box-shadow: inset 0 -0.15rem 0.15rem var(--primary),
    inset 0 0 0.5rem 0.75rem var(--second);

  transition: transform 0.3s ease-in-out;
}

.cont-icon {
  overflow: clip;
  position: relative;
}

.cont-icon .sparkle {
  position: absolute;
  top: 50%;
  left: 50%;

  display: block;

  width: calc(var(--width) * 1px);
  aspect-ratio: 1;
  background-color: var(--light);

  border-radius: 50%;
  transform-origin: 50% 50%;
  rotate: calc(1deg * var(--deg));
  transform: translate(-50%, -50%);
  animation: sparkle calc(100s / var(--duration)) linear
    calc(0s / var(--duration)) infinite;
}

@keyframes sparkle {
  to {
    width: calc(var(--width) * 0.5px);
    transform: translate(2000%, -50%);
  }
}

.cont-icon .icon {
  width: 1.1rem;
  fill: var(--light);
}

.toggle-cont:has(.toggle-input:checked) {
  --checked: true;
}

@container style(--checked: true) {
  .toggle-cont .toggle-label {
    background-color: #41434400;

    border: 1px solid #3d6970;
    border-bottom: 0;
  }

  .toggle-cont .toggle-label::before {
    box-shadow: 0 1rem 2.5rem -2rem #0080ff;
  }

  .toggle-cont .toggle-label .cont-icon {
    overflow: visible;

    background-image: radial-gradient(
      circle at 50% 0%,
      #045ab1 0%,
      var(--primary) 100%
    );

    border: 1px solid var(--primary);
    border-bottom: 0;

    transform: translateX(calc((var(--gap) * 2) + 100%)) rotate(-225deg);
  }

  .toggle-cont .toggle-label .cont-icon .sparkle {
    z-index: -10;

    width: calc(var(--width) * 1.5px);
    background-color: #acacac;

    animation: sparkle calc(100s / var(--duration)) linear
      calc(10s / var(--duration)) infinite;
  }

  @keyframes sparkle {
    to {
      width: calc(var(--width) * 1px);
      transform: translate(5000%, -50%);
    }
  }
}
img{
  height: 500px;

}

/* Hero Section */
.hero {
  background: url('https://th.bing.com/th/id/OIP.83CJw_XvVjM4Ba-APTYKnQHaEJ?rs=1&pid=ImgDetMain')no-repeat center center/cover;
/*
    background: url('https://source.unsplash.com/1600x900/?education') no-repeat center center/cover; */
    color:#007bff;
    padding: 100px 20px;
    align-items: center;
    height: 600px;
}

.hero h1 {
    font-size: 40px;
    margin-bottom: 25px; 
    margin-top: 200px;
    color: white;
}

.hero p {
    font-size: 20px;
     margin-bottom: 50px; 
     margin-top: 25px;
     color: white;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: darkblue;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}

.btn:hover {
    background: darkcyan;
}


/* Footer */
footer {
    background: #3ca0e7;
    color: white;
    padding: 15px;
    margin-top: 20px;
}
nav {
  &.primary-navigation {
    margin: 0 auto;
    display: block;
  
    padding: 120px 0 0 0;  
    text-align: center;
    font-size: 16px;
    align-items: center;

    ul li {
      list-style: none;
      margin: 0 auto;
      border-left: 2px solid #3ca0e7;
      display: inline-block;
      padding: 0 30px;
      position: relative;
      text-decoration: none;
      text-align: center;
      font-family: arvo;
    }

    li a {
      color: black;
    }

    li a:hover {
      color: #3ca0e7;
    }

    li:hover {
      cursor: pointer;
    }

    ul li ul {
      visibility: hidden;
      opacity: 0;
      position: absolute;
padding-left: 0;
      left: 0;
      display: none;
      background: white;
    }

    ul li:hover > ul,
    ul li ul:hover {
      visibility: visible;
      opacity: 1;
      display: block;
      min-width: 250px;
      text-align: left;
      padding-top: 20px;
      box-shadow: 0px 3px 5px -1px #ccc;
    }

    ul li ul li {
      clear: both;
      width: 100%;
      text-align: left;
      margin-bottom: 20px;
      border-style: none;
    }

    ul li ul li a:hover {
      padding-left: 10px;
      border-left: 2px solid #3ca0e7;
      transition: all 0.3s ease;
    }
  }
}

a {

    text-decoration: none;

    &:hover {
        color: #3CA0E7;
    }
 
}

 ul li ul li a { transition: all 0.5s ease; }


  #marquee{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:20px;
    font-style:bold;
    
  } 